.foto_perfil {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.imagem-enviada {
    width: 40%;
    height: 40%;
}

.modal-body:hover {
    background-color: rgb(228, 226, 226);
}

#input-arquivo {
    display: none;
}



